@model CarModel

<h1> Alteração de Carros</h1>

<div class="mb-3">
    <form >

        <label class="form-label" asp-for="MarcaCarro"></label>
        <input readonly class="form-control" asp-for="MarcaCarro">
    

        <label class="form-label" asp-for="NomeCarro"></label>
        <input readonly class="form-control" asp-for="NomeCarro">
      

        <label class="form-label" asp-for="ModeloCarro">  </label>
        <input readonly class="form-control" asp-for="ModeloCarro">
      

        <label class="form-label" asp-for="KmCarro"> </label>
        <input readonly type="text" class="form-control" asp-for="KmCarro">


        <label class="form-label" asp-for="AnoCarro"> </label>
        <input readonly type="text" class="form-control" asp-for="AnoCarro">
       

        <label class="form-label" asp-for="FotoCarro"> </label>
        <input readonly type="text" class="form-control" asp-for="FotoCarro">


        <a class="btn btn-default btn-lg" asp-controller="Car" asp-action="Index">Voltar</a>
        
    </form>

</div>