@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Editar Carro </h1>

<div class="mb-3 col-auto">
    <form action="/Car/Edit" method="post">
        <input type="hidden" name="CarrroId" value="1" />

        <label for="MarcaCarro" class="form-label"> Marca </label>
        <input type="text" required class="form-control" id="MarcaCarro" name="MarcaCarro" placeholder="Ex: Volkswagen" value="VW">

        <label for="NomeCarro" class="form-label"> Nome </label>
        <input type="text" required name="NomeCarro" class="form-control" id="NomeCarro" placeholder="Ex: Polo" value="UP">

        <label for="ModeloCarro" class="form-label"> Modelo </label>
        <input type="text" required name="ModeloCarro" class="form-control" id="ModeloCarro" placeholder="Ex: Highline , Confortline " value="Pepper">

        <label for="KmCarro" class="form-label"> Kilometragem </label>
        <input type="text" required name="KmCarro" class="form-control" id="KmCarro" placeholder="Ex: 35.000" value="35.000">

        <label for="KmCarro" class="form-label"> Selecione o Ano </label>
        <select class="form-select form-select-sm form-label" aria-label=".form-select-sm example" value="2020">
            <option selected> Selecione o Ano </option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
        </select>


        <div class="mb-3">
            <label for="FotoCarro" class="form-label">Default file input example</label>
            <input name="FotoCarro" class="form-control" type="file" id="FotoCarro" value="Foto">
        </div>

        <a href="/Car" class="btn btn-default btn-lg">Cancelar</a>
        <button type="submit" class="btn btn-primary btn-lg">Gravar</button>
    </form>

</div>
