@model CarModel

<h1> Alteração de Carros</h1>

<div class="mb-3">
    <form asp-controller="Car" asp-action="Edit" method="post">

        <label class="form-label" asp-for="MarcaCarro"></label>
        <input class="form-control" asp-for="MarcaCarro">
        <span class="text-danger" asp-validation-for="MarcaCarro"></span>

        <label class="form-label" asp-for="NomeCarro"></label>
        <input class="form-control" asp-for="NomeCarro">
        <span class="text-danger" asp-validation-for="NomeCarro"></span>

        <label class="form-label" asp-for="ModeloCarro">  </label>
        <input class="form-control" asp-for="ModeloCarro">
        <span class="text-danger" asp-validation-for="ModeloCarro"></span>

        <label class="form-label" asp-for="KmCarro"> </label>
        <input type="text" class="form-control" asp-for="KmCarro">
        <span class="text-danger" asp-validation-for="KmCarro"></span>

        <label class="form-label" asp-for="AnoCarro"> </label>
        <input type="text" class="form-control" asp-for="AnoCarro">
        <span class="text-danger" asp-validation-for="AnoCarro"></span>

        <label class="form-label" asp-for="FotoCarro"> </label>
        <input type="text" class="form-control" asp-for="FotoCarro">


        <a class="btn btn-default btn-lg" asp-controller="Car" asp-action="Index">Cancelar</a>
        <button type="submit" class="btn btn-primary btn-lg">Gravar</button>
    </form>

</div>