@{
}
<div class="centered">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p class="toolbar">
                    <a class="create btn btn-dark" href="/Car/Registration">Novo Carro</a>
                </p>
                <table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th data-field="id">Id</th>
                            <th data-field="marca">Marca</th>
                            <th data-field="name">Nome</th>
                            <th data-field="model">Modelo</th>
                            <th data-field="km">Kilometram (KM)</th>
                            <th data-field="year">Ano</th>
                            <th data-field="photo">Foto</th>
                            <th class="actions" width="220">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-field="id">1</td>
                            <td data-field="marca">VW</td>
                            <td data-field="name">UP! TSI</td>
                            <td data-field="model">Pepper</td>
                            <td data-field="km">35.000</td>
                            <td data-field="year">2020</td>
                            <td> SIM </td>
                            <td class="actions" width="220">
                                <a href="/Car/Detales" class="btn btn-info btn-sm">Detalhe</a>
                                <a href="/Car/Edit" class="btn btn-warning btn-sm">Editar</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>





</div>